﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { Area = "" }, FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav justify-content-end">
            <li class="nav-item">
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "badge badge-warning" })
            </li>
            <li class="nav-item"><a style="margin-left:5px;" href="javascript:document.getElementById('logoutForm').submit()" class="badge badge-danger">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav justify-content-end">
        <li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", new { Area = "" }, htmlAttributes: new { id = "loginLink", @class = "badge badge-dark" })</li>
    </ul>
}
