﻿@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h3>Role List</h3>
<hr />

<script type="text/javascript">
    $(document).ready(function () {
        $("#RoleDataTable").DataTable({
            "order": [[0, "asc"]]
        });
    });
</script>

<a class="btn btn-primary btn-sm" href='@Url.Action("Create")'><i class="fa fa-plus"> </i> Create New</a>

<div style="margin-top:20px;">
    <table id="RoleDataTable" class="table table-hover table-sm">
        <thead>
            <tr>
                <th>
                    Role Name
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

