﻿@model AGMInventorySystemMVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Create a new account.</h3>
<hr />

@using (Html.BeginForm("Create", "User", FormMethod.Post, new { @class = "row g-3" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="col-12">
        <label class="form-label">Username</label>
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
    </div>
    <div class="col-12">
        <label class="form-label">Password</label>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>
    <div class="col-12">
        <label class="form-label">Confirm Password</label>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
    </div>
    <div class="col-12">
        <label class="form-label"> Select User Role</label>
        <div class="col-md-12">
            @foreach (var item in (SelectList)ViewBag.RoleId)
            {
                <input class="form-check-input" type="checkbox" value="@item.Value" name="SelectedRoles">
                <label class="form-check-label">@item.Value</label>
            }
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-sm bg-gradient btn-success"><i class="fas fa-plus"></i> Create</button>
        <a class="btn btn-sm bg-gradient btn-secondary" href="@Url.Action("Index","User")"><i class="fas fa-arrow-alt-circle-left"></i> Back</a>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

