﻿@model AGMInventorySystemMVC.Areas.Admin.Data.vm_User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Edit User Roles.</h3>
<hr />

@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "row g-3" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)

    <div class="mt-3">
        <label class="form-label">Username</label>
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
    </div>
    <div class="mt-3">
        @foreach (var item in Model.RolesList)
        {
            <div class="form-check mt-1">
                <input type="checkbox" name="SelectedRole"
                       value="@item.Value" checked="@item.Selected" class="form-check-input" />
                <label class="form-check-label">
                    @item.Value
                </label>
            </div>
        }
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary btn-sm bg-gradient"><i class="fas fa-save"></i> Save</button>
        <a class="btn btn-sm bg-gradient btn-secondary" href="@Url.Action("Index","User")"><i class="fas fa-arrow-alt-circle-left"></i> Back</a>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

