﻿@model IEnumerable<AGMInventorySystemMVC.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#UserDataTable").DataTable();
    });
</script>

<h3>User Accounts</h3>
<hr />

<a class="btn btn-sm bg-gradient btn-success" href='@Url.Action("Create")'><i class="fa fa-plus"></i> Create New</a>

<div class="table-responsive mt-3">
    <table id="UserDataTable" class="table table-hover">
        <thead>
            <tr>
                <th>
                    UserName
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        <a class="btn btn-sm bg-gradient btn-success" href="@Url.Action("Edit", "User", new { id = item.Id })">Edit</a>
                        <a class="btn btn-sm bg-gradient btn-danger" href="@Url.Action("Delete", "User", new { id = item.Id })">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

