﻿@model List<AGMInventorySystemEntities.purchaseorder_details>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Approver1/Views/Shared/_Layout.cshtml";
    var master = (AGMInventorySystemEntities.purchaseorder_master)ViewBag.PurchaseOrderMaster;
    var statusStyle = master.approveddate2 != null ? "background-color:chartreuse;" : "background-color:yellow;";
    var approve1Distabled = master.approveddate1 != null ? "disabled" : "";
    var approve2Distabled = master.approveddate2 != null ? "disabled" : "";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#poDetailsDataTable").DataTable();

        $("#firstApproveButton").click(function (e) {
            if (confirm("Do you want to approve this PO?") == false) {
                e.preventDefault();
                return;
            }
        });

        $("#finalApproveButton").click(function (e) {
            if (confirm("Do you want to approve this PO?") == false) {
                e.preventDefault();
                return;
            }
        });
    });
</script>

<h3>Purchase Order</h3>
<hr />

<h5><u>Purchase Order Header</u></h5>
<table class="table table-hover table-bordered table-striped table-sm">
    <tr>
        <td style="font-weight:bold;">PO No.</td>
        <td>@master.pono</td>
        <td style="font-weight:bold;">1st Approved</td>
        <td>
            @{ var approvedDate1 = (Convert.ToDateTime(master.approveddate1)).ToString("dd-MMM-yyyy");}
            @master.approveduser1 on @approvedDate1
        </td>
    </tr>
    <tr>
        <td style="font-weight:bold;">PO Date</td>
        <td>@master.podate.ToString("dd-MMM-yyyy")</td>
        <td style="font-weight:bold;">2nd Approved</td>
        <td>
            @{ var approvedDate2 = (Convert.ToDateTime(master.approveddate2)).ToString("dd-MMM-yyyy");}
            @master.approveduser2 on @approvedDate2
        </td>
    </tr>
    <tr>
        <td style="font-weight:bold;">Request Date</td>
        <td>@master.requesteddate.ToString("dd-MMM-yyyy")</td>
        <td style="font-weight:bold;">Payment Term</td>
        <td>@master.paymentterm</td>
    </tr>
    <tr>
        <td style="font-weight:bold;">Request User</td>
        <td>@master.requester_user.name</td>
        <td style="font-weight:bold;">Total Price</td>
        <td>@Model.Sum(x => x.totalprice).ToString("N2")</td>
    </tr>
    <tr>
        <td style="font-weight:bold;">Location</td>
        <td>@master.location.name</td>
        <td style="font-weight:bold;">Total Price + Vat</td>
        <td>@Model.Sum(x => x.vatprice).ToString("N2")</td>
    </tr>
    <tr>
        <td style="font-weight:bold;">Vender</td>
        <td colspan="3">@master.vender.name</td>
    </tr>
    <tr>
        <td style="font-weight:bold;">Noted</td>
        <td colspan="3">@master.noted</td>
    </tr>
    <tr>
        <td style="@statusStyle"><b>PO Status</b></td>
        <td style="@statusStyle" colspan="3">@master.postatus</td>
    </tr>
</table>

<div class="text-center mb-2">
    <table class="mt-2">
        <tr>
            <td>
                @using (Html.BeginForm("FirstApproverApprove", "PO", FormMethod.Post, null))
                {
                    @Html.AntiForgeryToken()
                    <input name="pono" type="hidden" value="@master.pono" />
                    <button type="submit" id="firstApproveButton" @approve1Distabled class="btn btn-sm bg-gradient btn-danger"><i class="fas fa-user-lock"></i> 1st Approve</button>
                }
            </td>
            <td>
                @using (Html.BeginForm("FinalApproverApprove", "PO", FormMethod.Post, null))
                {
                    @Html.AntiForgeryToken()
                    <input name="pono" type="hidden" value="@master.pono" />
                    <button type="submit" id="finalApproveButton" @approve2Distabled class="btn btn-sm bg-gradient btn-success"><i class="fas fa-user-lock"></i> Final Approve</button>
                }
            </td>
            <td>
                <a class="btn btn-sm bg-gradient btn-secondary" href="@Url.Action("Search", "PO")"><i class="fas fa-arrow-alt-circle-left"></i> Back</a>
            </td>
        </tr>
    </table>
</div>

<h5 class="mt-4"><u>Purchase Order Details</u></h5>
<div class="table-responsive">
    <table id="poDetailsDataTable" class="table table-hover table-sm">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Unit</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total Price</th>
                <th>Vat Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(x => x.material_item.item_name))
            {
                <tr>
                    <td>@item.material_item.item_name</td>
                    <td>@item.material_item.material_unit.unit_name</td>
                    <td>@item.quantity.ToString("N0")</td>
                    <td>@item.unitprice.ToString("N2")</td>
                    <td>@item.totalprice.ToString("N2")</td>
                    <td>@item.vatprice.ToString("N2")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
