﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>System Admin Menu</h2>
<hr />

<div class="row g-3">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("Index", "User")">
                    <img src="~/Images/icons8-add-user-male-96.png" width="80" height="80">
                </a>
                <a href="@Url.Action("Index", "User")">
                    <h6 class="card-title">User</h6>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card m">
            <div class="card-body text-center">
                <a href="@Url.Action("Index", "Role")">
                    <img src="~/Images/icons8-confirm-96.png" width="80" height="80">
                </a>
                <a href="@Url.Action("Index", "Role")">
                    <h6 class="card-title">Role</h6>
                </a>
            </div>
        </div>
    </div>
</div>