﻿@model AGMInventorySystemMVC.Areas.Approver1.Data.vm_PurchaseOrder
@{
    ViewBag.Title = "Search";
    Layout = "~/Areas/Approver1/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#PurchaseOrderDataTable").DataTable({
            order: [[0, 'desc']],
        });
    });
</script>

<h3>Search a Purchase Order</h3>
<hr />

@using (Html.BeginForm("Search", "PO", FormMethod.Post, new { @class = "row g-3" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" });
    <div class="col-md-4">
        <label class="form-label">PO Date From</label>
        <input type="date" name="From" class="form-control" value="@Model.From.ToString("yyyy-MM-dd")" />
        @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-4">
        <label class="form-label">PO Date To</label>
        <input type="date" name="To" class="form-control" value="@Model.To.ToString("yyyy-MM-dd")" />
        @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-12">
        <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Search</button>
    </div>
}

<div class="table-responsive mt-4">
    <table id="PurchaseOrderDataTable" class="table table-striped table-sm">
        <thead>
            <tr>
                <th>PO No.</th>
                <th>PO Date</th>
                <th>Loacation</th>
                <th>1st Approved</th>
                <th>2nd Approved</th>
                <th>1st by</th>
                <th>2nd by</th>
                <th>PO Status</th>
                <th>Shipments</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ((List<AGMInventorySystemEntities.purchaseorder_master>)ViewBag.PurchaseOrders))
            {
                <tr>
                    <td>@item.pono</td>
                    <td>@item.podate.ToString("dd-MMM-yyyy")</td>
                    <td>@item.location.name</td>
                    <td>
                        @if (item.approveddate1 != null)
                        {<span style="color:green;"><i class="fas fa-check"></i></span>}
                    </td>
                    <td>
                        @if (item.approveddate2 != null)
                        {<span style="color:green;"><i class="fas fa-check"></i></span>}
                    </td>
                    <td>@item.approveduser1</td>
                    <td>@item.approveduser2</td>
                    <td>@item.postatus</td>
                    <td>
                        @if (item.shipment_master.Count() > 0)
                        {
                            <a title="Click for see the shipment list." href="@Url.Action("Index", "Shipment", new { pono = item.pono })">View @item.shipment_master.Count()</a>
                        }
                    </td>
                    <td><a class="btn btn-sm bg-gradient btn-outline-success" href="@Url.Action("Index","PODetails",new { pono = item.pono})">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="mt-4"><u><span style="font-style:italic;font-size:small;font-weight:bold;">PO Status</span></u></div>
<table style="font-style:italic;font-size:small;">
    <tr>
        <td>Wait </td>
        <td> : The requester create a new PO and waiting for approve.</td>
    </tr>
    <tr>
        <td>Approved 1 </td>
        <td> : The approver 1 was approved.</td>
    </tr>
    <tr>
        <td>Approved 2 </td>
        <td> : The final approver was approved.</td>
    </tr>
    <tr>
        <td>Complete </td>
        <td> : All a shipping document under that PO was changed the status to finish.</td>
    </tr>
</table>