﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { Area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "d-flex" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav position-relative end-0">
            <li class="nav-item">
                <a class="badge text-bg-warning" href="#">Hello @User.Identity.GetUserName()!</a>
                @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "badge text-bg-warning" })*@
            </li>
            <li class="nav-item"><a style="margin-left:5px;" href="javascript:document.getElementById('logoutForm').submit()" class="badge text-bg-danger">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav justify-content-end">
        <li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", new { Area = "" }, htmlAttributes: new { id = "loginLink", @class = "badge text-bg-dark" })</li>
    </ul>
}
