﻿@model AGMInventorySystemMVC.Areas.Admin.Data.vm_Role

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Create</h3>
<hr />

@using (Html.BeginForm("Create", "Role", FormMethod.Post, new { @class = "row g-3" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="col-12">
        <label class="form-label">Role Name</label>
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-sm bg-gradient btn-success"><i class="fas fa-plus"></i> Create</button>
        <a class="btn btn-sm bg-gradient btn-secondary" href="@Url.Action("Index","Role")"><i class="fas fa-arrow-alt-circle-left"></i> Back</a>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}