﻿@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete this Role? </h3>
<p>Deleting this Role will remove all users from this role. It will not delete the users.</p>
<div>
    <dl class="dl-horizontal">
        <dt>
           Role Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-sm bg-gradient btn-danger" /> |
            <a class="btn btn-sm bg-gradient btn-secondary" href="@Url.Action("Index","Role")"><i class="fas fa-arrow-alt-circle-left"></i> Back</a>
        </div>
    }
</div>
