﻿@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Roles Details</h3>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            Role Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>

<h4>List of users in this role</h4>
@if (ViewBag.UserCount == 0)
{
    <hr />
    <p>No users found in this role.</p>
}

<table class="table">
    @foreach (var item in ViewBag.Users)
    {
        <tr>
            <td>
                @item.UserName
            </td>
        </tr>
    }
</table>
<p>
    <a class="btn btn-sm bg-gradient btn-success" href="@Url.Action("Edit", "Role", new { id = Model.Id })">Edit</a> |
    <a class="btn btn-sm bg-gradient btn-secondary" href="@Url.Action("Index","Role")"><i class="fas fa-arrow-alt-circle-left"></i> Back</a>
</p>

