﻿@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h3>Role List</h3>
<hr />

<script type="text/javascript">
    $(document).ready(function () {
        $("#RoleDataTable").DataTable({
            "order": [[0, "asc"]]
        });
    });
</script>

<a class="btn btn-sm btn-success" href='@Url.Action("Create")'><i class="fa fa-plus"></i> Create New</a>

<div class="mt-3">
    <table id="RoleDataTable" class="table table-hover table-sm">
        <thead>
            <tr>
                <th>
                    Role Name
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        <a class="btn btn-sm bg-gradient btn-success" href="@Url.Action("Edit", "Role", new { id = item.Id })">Edit</a>
                        <a class="btn btn-sm bg-gradient btn-info" href="@Url.Action("Details", "Role", new { id = item.Id })">Details</a>
                        <a class="btn btn-sm bg-gradient btn-danger" href="@Url.Action("Delete", "Role", new { id = item.Id })">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

