﻿
@{
    ViewBag.Title = "Admin Home";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Administrator Menu</h2>
<h6>Please select menu below.</h6>
<hr />

<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("Index", "User")">
                    <img src="~/Images/icons8-user-folder-80.png" width="80" height="80">
                </a>
                <h6 class="card-title">User</h6>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">

            <div class="card-body text-center">
                <a href="@Url.Action("Index", "Role")">
                    <img src="~/Images/icons8-confirm-80.png" width="80" height="80">
                </a>
                <h6 class="card-title">Role</h6>
            </div>
        </div>
    </div>
</div>