﻿@{
    ViewBag.Title = "Error Information";
}

<div class="row mb-4">
    <div class="col-12">
        <div class="text-center mb-4">
            <span style="font-size:x-large;font-weight:bold;">Error Message</span>
        </div>
        <div class="card border-danger">
            <div class="card-body">
                @ViewBag.message
            </div>
        </div>
    </div>
</div>

<i>Please contact IT department for solve this problem.</i>