﻿@model AGMInventorySystemWebApp.Areas.Admin.Models.vm_User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Edit.</h3>
<h6>Edit user informations.</h6>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Username, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
        </div>
        <div>
            @foreach (var item in Model.RolesList)
            {
                <div class="form-check">
                    <input type="checkbox" name="SelectedRole"
                           value="@item.Value" checked="@item.Selected" class="form-check-input" />
                    <label class="form-check-label">
                        @item.Value
                    </label>
                </div>
            }
        </div>
        <div class="form-group" style="margin-top:10px;">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
