﻿@model IEnumerable<AGMInventorySystemWebApp.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#UserDataTable").DataTable();
    });
</script>

<h3>User Accounts</h3>
<hr />

<a class="btn btn-primary btn-sm" href='@Url.Action("Create")'><i class="fa fa-plus"> </i> Create New</a>

<div style="margin-top:20px;">
    <table id="UserDataTable" class="table table-hover tbale-resposive table-sm">
        <thead>
            <tr>
                <th>
                    UserName
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

