﻿
@{
    ViewBag.Title = "ErrorInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Error Information</h3>

<hr />

<div class="row">
    <div class="col-sm-12">
        <div class="card border-secondary mb-3">
            <h5 class="card-header bg-secondary text-light">Error message.</h5>
            <div class="card-body">
                <p class="card-text">@ViewBag.message</p>
                <span style="color:red;"><i>Please contact administrator.</i></span>
            </div>
        </div>
    </div>
</div>
