﻿@{
    ViewBag.Title = "Home Page";
}

<h2>AGM Inventory Online Approve</h2>
<hr />

<div class="row g-3">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("Index", "Home",new { Area = "Admin" })">
                    <img src="~/Images/icons8-admin-settings-male-96.png" width="80" height="80">
                </a>
                <a href="@Url.Action("Index","Home",new { Area = "Admin" })">
                    <h6 class="card-title">
                        System Admin
                    </h6>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body text-center">
                <a href="@Url.Action("Search", "PO",new { Area = "Approver1"})">
                    <img src="~/Images/icons8-businessman-80.png" width="80" height="80">
                </a>
                <a href="@Url.Action("Search", "PO",new { Area = "Approver1"})">
                    <h6 class="card-title">
                        Approver
                    </h6>
                </a>
            </div>
        </div>
    </div>
</div>