﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ระบบลงทะเบียนชาวไร่ยาสูบ : Burley Registration System</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Plugin/Boostrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Plugin/Boostrap/bootstrap.min.js"></script>
    <link href="~/Plugin/DataTables/datatables.min.css" rel="stylesheet" />
    <script src="~/Plugin/DataTables/datatables.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="~/Images/stec-bar.png" width="120" height="30" class="d-inline-block align-top" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home",new { Area = "" })"><i class="fas fa-home"></i>  Home</a>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Search", "PO",new { Area = "Approver1" })"><i class="fas fa-search"></i> Search PO</a>
                    </li>
                </ul>
                @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
            </div>
        </div>
    </nav>
    <div class="container mt-3">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
