﻿@model AGMInventorySystemMVC.Models.LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.Title.</h3>
<h6>Use a organization account to log in.</h6>
<hr />
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "row g-3" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="mt-3 col-md-3">
            <lable class="form-label">Username</lable>
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control mt-2" })
            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="mt-3 col-md-3">
            <lable class="form-label">Password</lable>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control mt-2" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="mt-3 col-md-3">
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
        </div>
    </div>
    <div class="mt-3 col-md-12">
        <input type="submit" value="Log in" class="btn btn-outline-secondary" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
