﻿@model List<AGMInventorySystemEntities.shipment_master>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Approver1/Views/Shared/_Layout.cshtml";

    var poMaster = (AGMInventorySystemEntities.purchaseorder_master)ViewBag.PurchaseOrderMaster;
    var poDetails = (List<AGMInventorySystemEntities.purchaseorder_details>)ViewBag.PurchaseOrderDetails;
    var shipmentDetails = (List<AGMInventorySystemEntities.shipment_details>)ViewBag.ShipmentDetails;
    var statusStyle = poMaster.approveddate2 != null ? "background-color:chartreuse;" : "background-color:yellow;";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#shipmentsDataTable").DataTable({
            order: [[0, 'desc']],
        });
    });
</script>

<h2>Shipment</h2>
<hr />

<h5><u>Purchase Order</u></h5>
<table class="table table-hover table-bordered table-striped table-sm">
    <tr>
        <td style="font-weight:bold;">PO No.</td>
        <td>@poMaster.pono</td>
        <td style="font-weight:bold;">1st Approved</td>
        <td>
            @{ var approvedDate1 = (Convert.ToDateTime(poMaster.approveddate1)).ToString("dd-MMM-yyyy");}
            @poMaster.approveduser1 on @approvedDate1
        </td>
    </tr>
    <tr>
        <td style="font-weight:bold;">PO Date</td>
        <td>@poMaster.podate.ToString("dd-MMM-yyyy")</td>
        <td style="font-weight:bold;">2nd Approved</td>
        <td>
            @{ var approvedDate2 = (Convert.ToDateTime(poMaster.approveddate2)).ToString("dd-MMM-yyyy");}
            @poMaster.approveduser2 on @approvedDate2
        </td>
    </tr>
    <tr>
        <td style="font-weight:bold;">Request Date</td>
        <td>@poMaster.requesteddate.ToString("dd-MMM-yyyy")</td>
        <td style="font-weight:bold;">Payment Term</td>
        <td>@poMaster.paymentterm</td>
    </tr>
    <tr>
        <td style="font-weight:bold;">Request User</td>
        <td>@poMaster.requester_user.name</td>
        <td style="font-weight:bold;">Total Price</td>
        <td>@poDetails.Sum(x => x.totalprice).ToString("N2")</td>
    </tr>
    <tr>
        <td style="font-weight:bold;">Location</td>
        <td>@poMaster.location.name</td>
        <td style="font-weight:bold;">Total Price + Vat</td>
        <td>@poDetails.Sum(x => x.vatprice).ToString("N2")</td>
    </tr>
    <tr>
        <td style="font-weight:bold;">Vender</td>
        <td colspan="3">@poMaster.vender.name</td>
    </tr>
    <tr>
        <td style="font-weight:bold;">Noted</td>
        <td colspan="3">@poMaster.noted</td>
    </tr>
    <tr>
        <td style="@statusStyle"><b>PO Status</b></td>
        <td style="@statusStyle" colspan="3">@poMaster.postatus</td>
    </tr>
</table>

<a class="btn btn-sm bg-gradient btn-secondary" href="@Url.Action("Search", "PO")"><i class="fas fa-arrow-alt-circle-left"></i> Back</a>

<h5 class="mt-5"><u>Shipment List</u></h5>
<div class="table-responsive">
    <table id="shipmentsDataTable" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Shipment No</th>
                <th>Shipment Date</th>
                <th>To Location</th>
                <th>Shipment Status</th>
                <th>Receiving Status</th>
                <th>Received By</th>
                <th>Remark</th>
                @*<th>Approve Status</th>
        <th>Approve Date</th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (List<AGMInventorySystemEntities.shipment_master>)Model)
            {
                <tr>
                    <td>@item.shipmentno</td>
                    <td>@item.shipmentdate.ToString("dd-MMM-yyyy")</td>
                    <td>@item.location.name</td>
                    <td>@item.shipmentstatus</td>
                    <td>
                        @if (item.receivedstatus == true)
                        {<span style="color:green;"><i class="fas fa-check"></i></span>}
                    </td>
                    <td>@item.receiveduser</td>
                    <td>@item.remark</td>
                    @*<td>
            @if (!string.IsNullOrEmpty(item.approveduser2))
            {<span style="color:green;"><i class="fas fa-check"></i></span>}
        </td>
        <td>
                @{
                    var finalApproveDate = Convert.ToDateTime(item.approveddate2);
                }
                @finalApproveDate.ToString("dd-MMM-yyyy")
            </td>*@
                    <td>
                        <button class="btn btn-sm bg-gradient btn-outline-success"
                                data-bs-toggle="modal"
                                data-bs-target="#@item.shipmentno">
                            Details
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row g-3 mt-3">
    <div class="col-md-3">
        <div class="card border-primary">
            <div class="card-header bg-primary text-light"><h6>Total Shiped</h6></div>
            <div class="card-body text-primary text-center">
                <h5><strong>@shipmentDetails.Sum(x => x.shipment_quantity).ToString("N0")</strong></h5>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border-success">
            <div class="card-header bg-success text-light"><h6>Total Received</h6></div>
            <div class="card-body text-success text-center">
                <h5><strong>@shipmentDetails.Sum(x => x.received_quantity).ToString("N0")</strong></h5>
            </div>
        </div>
    </div>

</div>
@foreach (var shipment in Model)
{
    <div class="modal fade" id="@shipment.shipmentno" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Shipment No. @shipment.shipmentno</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Unit</th>
                                    <th>Shipment Qty</th>
                                    <th>Received Qty</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var details in shipmentDetails.Where(x => x.shipmentno == shipment.shipmentno))
                                {
                                    <tr>
                                        <td>@details.material_item.item_name</td>
                                        <td>@details.material_item.material_unit.unit_name</td>
                                        <td>@details.shipment_quantity.ToString("N0")</td>
                                        <td>@details.received_quantity.ToString("N0")</td>
                                        <td>
                                            @{var price = details.shipment_quantity * details.unitprice;}
                                            @price.ToString("N2")
                                        </td>
                                    </tr>
                                }
                                <tr style="font-weight:bold;">
                                    <td colspan="2">Total</td>
                                    <td>@shipment.shipment_details.Sum(x => x.shipment_quantity).ToString("N0")</td>
                                    <td>@shipment.shipment_details.Sum(x => x.received_quantity).ToString("N0")</td>
                                    <td>@shipment.shipment_details.Sum(x => x.shipment_quantity * x.unitprice).ToString("N2")</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}